html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dama{
  width: 650px;
  height: 650px;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
  grid-row: 80px 80px 80px 80px 80px 80px 80px 80px;
}

.peca{
  width: 80px;
  height: 80px;
}

.preta{
  background-color: black;
}

.branca{
  background-color: #fff;
}